* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  background-color: #0B0F14;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  color: white;
}